.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

 :root {
    --main-color: #2E2F42;
    --text-color: #434455;
    --logo-btn-color: #4D5AE5;
    --hover-color: #404BBF;
    --secondary-text-color: #FFF;
    --accent-color: #F4F4FD;
    --under-text-color: #E7E9FC;
    --border-btn-color: #E7E9FC;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    /* outline: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo span {
    color: var(--logo-btn-color);
}

.title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
}

.subtitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.text {
    letter-spacing: 0.02em;
}


/*----------Header---------- */

.header {
    border-bottom: 1px solid var(--border-btn-color)
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: none;
}

.header-link:hover,
.header-link:focus {
    color: var(--hover-color);
}

.address {
    display: none;
}

.header-logo {
    color: inherit
}


/*
---Burger menu--- */

.burger-btn-open {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.burger-icon-open {
    fill: var(--main-color);
}

.burger-menu-container {
    padding: 40px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-text-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    z-index: 999;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-menu-container.is-open {
    transform: translateX(0%);
}

.burger-menu-container.burger-btn-close {
    position: absolute;
    top: 16px;
    right: 16px;
}

.burger-btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--border-btn-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn-close:is(:hover, :focus) {
    background-color: var(--hover-color);
    color: var(--secondary-text-color);
}

.modal-icon {
    fill: currentColor;
}

.burger-list {
    margin-bottom: 284px;
}

.burger-item:not(:last-child) {
    margin-bottom: 40px;
}

.burger-link {
    padding: 20px 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    color: var(--main-color);
}

.burger-address {
    margin-bottom: 48px;
}

.burger-address-item:not(:last-child) {
    margin-bottom: 40px;
}

.burger-address-link-tel {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.11;
    color: var(--logo-btn-color);
}

.burger-address-link-mail {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--text-color);
}

.burger-address-item {
    font-style: normal;
}

.burger-link.active {
    color: var(--logo-btn-color);
}


/*
!-!-!-!-!-Index-!-!-!-!-! */


/* ----------Hero section---------- */

.hero {
    padding-top: 112px;
    padding-bottom: 112px;
    height: 432px;
    width: 100%;
    text-align: center;
    background-image: radial-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgimg_1-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--main-color);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: radial-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgimg_1-mobile-2x.jpg);
    }
}

.hero-title {
    max-width: 320px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    margin: auto;
    margin-bottom: 72px;
    color: var(--secondary-text-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--secondary-text-color);
    background-color: var(--logo-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-color);
}


/* ----------About section---------- */

.about {
    padding-top: 96px;
    padding-bottom: 96px;
}

.about-item {
    width: 100%;
}

.about-item:not(:last-child) {
    margin-bottom: 72px;
}

.about-icon {
    display: none;
}

.about-subtitle {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}

.about-text {
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}


/* ----------Process section---------- */

.process {
    display: none;
}


/* ----------Team section---------- */

.team {
    padding-top: 96px;
    padding-bottom: 128px;
    background-color: var(--accent-color);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-item {
    max-width: 264px;
}

.team-item:not(:last-child) {
    margin-bottom: 72px;
}

.team-content {
    padding: 32px 16px;
    /* padding-bottom: 32px; */
    text-align: center;
    background: var(--secondary-text-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
    margin-bottom: 8px;
}

.team-text {
    color: var(--text-color);
    margin-bottom: 8px;
}

.team-content-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-content-item {
    width: 40px;
    height: 40px;
}

.team-content-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--logo-btn-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-content-link:hover {
    background-color: var(--hover-color);
}


/* ----------Companies section---------- */

.companies {
    padding-top: 96px;
    padding-bottom: 96px;
}

.companies-list {
    display: flex;
    flex-wrap: wrap;
}

.companies-item {
    width: 190px;
    height: 88px;
}

.companies-item:nth-child(2n + 1) {
    margin-right: 16px;
}

.companies-item:nth-child(-n + 4) {
    margin-bottom: 72px;
}

.companies-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies-link:is(:hover, :focus) {
    color: var(--hover-color);
    border-color: var(--hover-color);
}

.companies-icon {
    fill: currentColor;
}


/* ----------Footer----------- */

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--main-color);
}

.footer-block {
    max-width: 268px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.footer-text {
    width: 264px;
    color: var(--under-text-color);
}

.footer-logo {
    display: block;
    color: var(--accent-color);
    max-width: 117px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.footer-social-container {
    max-width: 208px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.footer-list {
    display: flex;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-item:not(:last-child) {
    margin-right: 16px;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: rgb(49, 208, 170);
}


/* -----Footer form----- */

.footer-form-input {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    color: var(--secondary-text-color);
    outline: none;
    margin-bottom: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:is(:hover, :focus) {
    border-color: var(--logo-btn-color);
}

.footer-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-form-input:is(:hover, :focus)::placeholder {
    color: var(--logo-btn-color);
}

.footer-form-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--logo-btn-color);
    color: var(--secondary-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:is(:hover, :focus) {
    background-color: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-icon {
    margin-left: 16px;
    fill: currentColor;
}


/* !-!-!-!-!-Portfolio-!-!-!-!-! */

.category {
    padding-top: 96px;
    margin-bottom: 120px;
}

.category-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 73px;
}

.category-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--logo-btn-color);
    background-color: var(--accent-color);
    border: 1px solid var(--border-btn-color);
    border-radius: 4px;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category-btn:hover,
.category-btn:focus {
    color: var(--secondary-text-color);
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
}

.cards-item {
    width: calc((100% - 2 * 24px) / 3);
}

.cards-item:not(:nth-child(n+7)) {
    margin-bottom: 48px;
}

.cards-item:not(:nth-child(3n + 3)) {
    margin-right: 24px;
}

.cards-link {
    color: inherit;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cards-wrap {
    position: relative;
    overflow: hidden;
}

.cards-text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px 164px;
    color: var(--accent-color);
    background-color: var(--logo-btn-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.cards-link:hover .cards-text-overlay {
    transform: translateY(0);
}

.cards-content {
    padding: 32px 16px;
    border: 1px solid var(--border-btn-color);
    border-top: none;
}

.cards-subtitle {
    margin-bottom: 8px;
}

.cards-text {
    color: var(--text-color);
}


/* -!-!-!-!-!Modal-!-!-!-!-! */

.back-fill {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-window {
    width: 90%;
    height: 586px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 52px 24px 20px;
}

.modal-btn {
    /* display: flex; align-items: center; justify-content:
center; */
    padding: auto;
    position: absolute;
    /* top: 28px; */
    top: 30px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    background-color: var(--border-btn-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:is(:hover, :focus) {
    background-color: var(--hover-color);
    color: var(--secondary-text-color);
}

.modal-icon {
    fill: currentColor;
    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
    color: var(--main-color);
}

.modal-form-group {
    margin-bottom: 8px;
    position: relative;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

.modal-form-input:is(:hover, :focus) {
    border-color: var(--logo-btn-color);
}

.modal-form-icon {
    position: absolute;
    top: 40px;
    left: 19px;
    transform: translateY(-50%);
    fill: var(--main-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:is(:hover, :focus)+.modal-form-icon {
    fill: var(--logo-btn-color);
}

.modal-textarea {
    margin-bottom: 16px;
}

.textarea {
    display: block;
    height: 120px;
    padding: 8px 16px;
    resize: none;
}

.textarea::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox {
    margin-bottom: 24px;
}

.modal-form-checkbox-label {
    display: flex;
    align-items: baseline;
    gap: 8px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.modal-form-checkbox-label span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--main-color);
    border-radius: 2px;
    color: #fcfcfc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-icon {
    fill: currentColor;
}

.modal-form-checkbox-input:checked+.modal-form-checkbox-label span {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.modal-form-checkbox-label-link {
    color: var(--logo-btn-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-label-link:is(:hover, :focus) {
    color: var(--hover-color);
}

.modal-form-btn {
    display: block;
    margin: 0 auto;
    width: 169px;
    padding: 16px 32px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--secondary-text-color);
    background-color: var(--logo-btn-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:is(:hover, :focus) {
    background-color: var(--hover-color);
}